# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/target/
*.jar
*.war

.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

*.log
logs/

.DS_Store
Thumbs.db

.docker/
